body {
    background-color: #f0f0f0;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
}

nav {
    margin-top: 0;
    position: fixed;
    background-color: rgba(243, 211, 255, 0.9);
    top: 0;
    width: 100%;
    height: 60px;
}

h1 {
    padding-top: 10%;
    text-align: center;
    font-size: 38px;
}

h2 {
    color: #90f;
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 15px;
}

input[type=text] {
    border-radius: 5px;
    border: 1px solid #eee;
    font-size: 16px;
    padding: 2px 1px 2px 1px;
    width: 100%;
}

input[type=checkbox] {
    zoom: 150%;
    vertical-align:middle;
}

select {
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    padding: 2px 1px 2px 1px;
    width: 100%;
}

.inNav {
    color: #39005d;
    font-size: 20px;
    font-weight: bold;
    height: 100%;
    margin-top: 0;
    margin-left: 25px;
    vertical-align: middle;
}

.inNav:hover {
    color: #b13dff;
    cursor: pointer;
}

main {
    background-color: #dddddd;
    border-radius: 10px;
    margin: 1% auto 1% auto;
    padding: 30px 120px;
    width: 500px;
}

main label:not([hidden]) {
    display: inline-block;
    margin-top: 10px;
}

main #mcStableLabel {
    margin-top: 0;
}

main .details {
    color: #777777;
    font-size: 15px;
}

#optional_settings > summary {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 15px;
}

#optional_settings > summary > h2 {
    margin: 0;
}

#optional_settings > summary:before {
    font-family: monospace;
    content: "►";
}

#optional_settings[open] > summary:before {
    font-family: monospace;
    content: "▼";
}

#optional_settings p {
    margin: 0;
}

#description {
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    resize:vertical;
}

#gen {
    background-color: #b13dff; /* Green */
    border-radius: 5px;
    border: none;
    color: white;
    padding: 15px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
}

#pageFooter {
    font-size: 12px;
    background-color: #cccccc;
    margin-top: 2%;
}