body {
    background-color: #f0f0f0;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
}

nav {
    margin-top: 0;
    position: fixed;
    background-color: rgba(243, 211, 255, 0.89);
    top: 0;
    width: 100%;
    height: 7.5%;
}

h1 {
    padding-top: 7%;
    text-align: center;
    font-size: 38px;
}

h2 {
    color: #90f;
    font-size: 28px;
    margin-top: 10%;
}

input[type=text] {
    border-radius: 5px;
    border: 1px solid #eee;
    font-size: 16px;
    padding: 2px 1px 2px 1px;
    width: 100%;
}

input[type=checkbox] {
    zoom: 150%;
    vertical-align:middle;
}

label {
    vertical-align: middle;
}

select {
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    padding: 2px 1px 2px 1px;
    width: 100%;
}

.inNav {
    color: #39005d;
    font-size: 20px;
    font-weight: bold;
    height: 100%;
    margin-top: 0;
    margin-left: 25px;
    text-decoration: none;
    vertical-align: middle;
}

#main {
    background-color: #dddddd;
    border-radius: 5px;
    margin: 1% auto 1% auto;
    padding: 30px 120px;
    width: 500px;
}

#gen {
    background-color: #b13dff; /* Green */
    border-radius: 5px;
    border: none;
    color: white;
    padding: 15px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
}

#description {
    font-size: 16px;
    border-radius: 5px;
}

#pageFooter {
    font-size: 12px;
    background-color: #cccccc;
    margin-top: 2%;
}